*
{
  margin: 0px;
  border: 0px;
}
body{
  background-color: rgb(69, 68, 68);
  color: white;
  text-align: center;

}
h1{
  margin: 30px;
  font-size: 45px;
}
.btn
{
  width:130px;
  height: 80px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px;
  margin: 10px;
}
.area 
{
  color: black;
  font-size: 38px;
  font-weight: 20px;
  margin: 15px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 80px;
}
.area div span{
  font-size: 18px;
  color: rgb(248, 230, 230);
  margin: 15px;
  height: 20px;
  padding-top: 15px;
}
.bord{
  background-color: rgb(134, 129, 129);
  margin-left: 460px;
  width: 600px;
  max-height: 2000px;
  height: 500px;
  border: solid black 3px;
  overflow: auto;
}